---
layout: default
titleAfter: Graphic Design and Illustration
page: home
---

{% include home-welcome.html %}
{% assign previews = site.case-studies | sort: "order" %}
<section>
  {% for preview in previews %}
    {% include home-case-info.html %}
  {% endfor %}
</section>
<div class="h2-home tight-edges pad-b-2">
  <img class="push" src="{{site.baseurl}}/images/logo-icon.svg" alt="">
  <h2 class="font-normal">Just for Fun!</h2>
  <p class="gutter">Although I love my work, sometimes I am looking to do projects just for the fun of it. I might be looking for inspiration, or just interested in trying something new. Have a look at some of my passion projects that were born purely from the joy of being creative.</p>
  {% include btn-ghost.html class="push-2" link="/fun/" btn="Check it out!" %}
</div>
