---
layout: default
title: Work time
seo-description: My work is categorized by web design, branding, illustration, print design, UI / UX design, motion and advertising. Have a look at my case studies!
display-img: /images/banner.svg
---
<div class="tight-para pad-t-2 pad-b gutter-2">
  <h1>Work</h1>
  <p>These case studies are examples of the type of work I have done.</p>
</div>


{% assign previews = site.case-studies | sort: "order" %}
<section>
  {% for preview in previews %}
    {% include home-case-info.html %}
  {% endfor %}
</section>
