---
layout: default
title: Work time
seo-description: My work is categorized by web design, branding, illustration, print design, UI / UX design, motion and advertising. Have a look at my case studies!
display-img: /images/banner.svg
---
<div class="tight-para pad-t-2 pad-b gutter-2">
  <h1>Work</h1>
  <p>Below you'll find case studies, as well as additional samples of the type of work I have done and can offer.</p>
</div>


{% assign previews = site.case-studies | sort: "order" %}
<section>
  {% for preview in previews %}
    {% include home-case-info.html %}
  {% endfor %}
</section>

<section>
  <div class="case-edges gutter-2 grid pad-t-2">
    <div class="gutter unit xs-1">
      <h3>As seen on Instagram</h3>
    </div>
    <div class="unit xs-1 m-1-3 gutter pad-b-2">
      <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C4gPidxgFo8/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:100%; min-width:326px; padding:0; width:calc(100% - 2px);">
      </blockquote>
    </div>
    <div class="unit xs-1 m-1-3 gutter pad-b-2">
      <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C4MBsGDg4Vr/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:100%; min-width:326px; padding:0; width:calc(100% - 2px);">
      </blockquote>
    </div>
    <div class="unit xs-1 m-1-3 gutter pad-b-2">
      <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/DAbdh_Wxxim/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:100%; min-width:326px; padding:0; width:calc(100% - 2px);">
      </blockquote>
    </div>
  </div>
  <script async src="//www.instagram.com/embed.js"></script>
</section>
