<div class="bubble-container">
  <div class="bub-1">
    <div class="embed embed-1by1">
      <img class="embed-item" src="{{site.baseurl}}/images/bub-1.svg" alt="">
    </div>
    <div class="bub-content bub-content-1">
        <p class="push-0 yotta">Hey.</p>
        <p class="mega">Hannah here.</p>
    </div>
  </div>
  <div class="bub-2">
    <div class="embed embed-1by1">
      <img class="embed-item" src="{{site.baseurl}}/images/bub-2.svg" alt="">
    </div>
    <div class="bub-content bub-content-2">
        <p class="push-0 mega">I'm a graphic designer and illustrator.</p>
    </div>
  </div>
  <div class="bub-3">
    <div class="embed embed-1by1">
      <img class="embed-item" src="{{site.baseurl}}/images/bub-3.svg" alt="">
    </div>
    <div class="bub-content bub-content-3 font-000 bold">
        <p class="push-0">Cool, so what sort of work do you do the most?</p>
    </div>
  </div>
  <div class="bub-4">
    <div class="embed embed-1by1">
      <img class="embed-item" src="{{site.baseurl}}/images/bub-4.svg" alt="">
    </div>
    <div class="bub-content bub-content-4">
        <p class="push-0">I specialize in web design and branding.</p>
    </div>
  </div>
  <div class="bub-5">
    <div class="embed embed-1by1">
      <img class="embed-item" src="{{site.baseurl}}/images/bub-5.svg" alt="">
    </div>
    <div class="bub-content bub-content-5">
        <p class="push-0">However, I most enjoy projects that allow me to wear several design hats at once!</p>
    </div>
  </div>
</div>
