<footer class="push-0 footer" id="footer" role="contentinfo">
    <div class="edges">
      <div class="text-center milli">
        <p><span class="bold">Let's connect! </span>Say hi at <a href="mailto:hello@hannahdel.ca?subject=Connecting from hannahdel.ca">hello@hannahdel.ca</a></p>
      </div>
      <div class="nano grid grid-bottom">
        <div class="unit xs-1 m-1-3 unit-push-m-1-3 socials-links push text-center">
          {% include social-icon.html icon-link="https://www.linkedin.com/in/hannahdelbrown/" i-size="i-48" icon-img="linkedin" %}
          {% include social-icon.html icon-link="https://www.instagram.com/hannahdeldesign/" i-size="i-48" icon-img="instagram" %}
          {% include social-icon.html icon-link="https://www.seek.co.nz/profile/hannah-brown-FQpbZTwYBj" i-size="i-48" icon-img="seek" %}
          <div class="shielded-icon icon-link icon i-48">
            <a href="#" id="shielded-logo">
              <img alt="shielded" src="https://shielded.co.nz/img/custom-logo.png" height="60" width="60">
            </a>
            <script src="https://staticcdn.co.nz/embed/embed.js"></script>
            <script>
              (function () {
                  window.onload = function(){
                      var frameName = new ds07o6pcmkorn({
                          openElementId: "#shielded-logo",
                          modalID: "modal",
                      });
                      frameName.init();
                  }
              })();
            </script>
          </div>
        </div>
        <div class="unit xs-1 m-1-3 unit-pull-m-1-3 footer-details-1">
          <p>© Hannah Delaney B · {{ "now" | date: "%Y" }}</p>
        </div>
        <div class="unit xs-1 m-1-3 footer-details-2">
          <p>All content and code created by me!</p>
        </div>
      </div>
    </div>
</footer>
