<div class="tight-para gutter-2 pad-t-2 pad-b-2">
  <h2 class="normal line-height"><span class="yotta">Hey.</span> <div class="nina">Hannah here.<span class="light kilo"> (she/her)</span></div></h2>
  <p>I'm a graphic designer and illustrator, who specializes in <span class="bold f-second">web design, development</span> and <span class="bold f-second">branding.</span> However, my work covers a wide range of categories such as:</p>
  <div class="push-2">
    {% include category-icon.html cat-icon="web.svg" cat-icon-alt="Web icon" cat-icon-label="WEB" %}
    {% include category-icon.html cat-icon="branding.svg" cat-icon-alt="Branding icon" cat-icon-label="BRANDING" %}
    {% include category-icon.html cat-icon="illustration.svg" cat-icon-alt="Illustration icon" cat-icon-label="ILLUSTRATION" %}
    {% include category-icon.html cat-icon="print.svg" cat-icon-alt="Print icon" cat-icon-label="PRINT" %}
    {% include category-icon.html cat-icon="ux-ui.svg" cat-icon-alt="UX/UI icon" cat-icon-label="UX/UI" %}
    {% include category-icon.html cat-icon="motion.svg" cat-icon-alt="Motion icon" cat-icon-label="MOTION" %}
  </div>
  <p>I get the most enjoyment from projects that allow me to wear several design hats at once. Do you need a creative solution? I can help with that!</p>
  <p class="normal pad-t f-second peta">Check out my work below.</p>
</div>
