<div class="case case-bg">
  <div class="grid grid-middle">
    <div class="unit xs-1 unit-push-l-1-2 l-1-2">
      <img class="img-flex img-case" src="{{site.baseurl}}/images/{{preview.preview-img}}" alt="{{preview.preview-img-alt}}">
    </div>
    <div class="unit xs-1 unit-pull-l-1-2 l-1-2 case-study">
      <div class="home-case-content">
        <h3 class="font-normal giga push-1-4">Case Study: <div class="exa bold">{{preview.title}}</div></h3>
        <hr>
        <p>{{preview.preview-copy}}</p>
        <div class="category-list push">
          <p class="bold push-r">Categories:</p>
          {% for icon in preview.category-icons %}
            {% include category-icon.html cat-icon=icon.cat-icon cat-icon-alt=icon.cat-icon-alt %}
          {% endfor %}
        </div>
        <a class="btn btn-main" href="case-studies/{{preview.preview-case-name-link}}/">View Case Study</a>
      </div>
    </div>
  </div>
</div>
