<div class="svg-banner-wrapper" title="An illustration of Hannah sitting under a tree at the edge of a lake with a cottage in the distance, drawing.">
  <img class="svg-banner-img img-flex" src="../images/banner-2.svg" alt="Moving illustration of a woman sitting under a tree drawing, next to a lake with a cottage in the distance.">
</div>
<div class="relative">
  <a class="pin-cb" href="#header">
    <i class="scroller icon i-48">
      <img src="{{site.baseurl}}/images/leaf-arrow.svg" alt="">
    </i>
  </a>
</div>
