.bubble-container {
  padding: 0 2rem;
  position: relative;
}

.bub-1,
.bub-2,
.bub-3,
.bub-4,
.bub-5,
.bub-6 {
  position: relative;
}

.bub-1 {
  width: 270px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.bub-content-1 {
  background-color: var(--color-d-teal-dark);
}

.bub-2 {
  width: 250px;
  margin-top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.bub-content-2 {
  background-color: var(--color-teal-dark);
}

.bub-3 {
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.bub-content-3 {
  background-color: var(--color-l-green);
}

.bub-4 {
  width: 220px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.bub-content-4 {
  background-color: var(--color-d-teal-dark);
}

.bub-5 {
  width: 290px;
  margin-top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.bub-content-5 {
  background-color: var(--color-teal-dark);
}

.bub-content {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-45%, -50%);
  color: #fff;
  font-family: var(--font-secondary);
}

.font-000 {
  color: #000;
}

@media only screen and (min-width: 38em) {

  .bub-1 {
    width: 270px;
    z-index: 1;
    left: 0;
    transform: translateX(0);
  }

  .bub-2 {
    width: 250px;
    left: 20%;
    transform: translateX(0);
    margin-top: -6rem;
  }

  .bub-3 {
    width: 250px;
    left: 50%;
    margin-top: -5rem;
    transform: translateX(0);
  }

  .bub-4 {
    width: 220px;
    left: 30%;
    margin-top: -2rem;
    transform: translateX(0);
  }

  .bub-5 {
    width: 310px;
    left: 48%;
    top: -2rem;
    transform: translateX(0);
  }

}

@media only screen and (min-width: 60em) {

  .bub-1 {
    width: 270px;
    z-index: 1;
    left: 0;
    transform: translateX(0);
  }

  .bub-2 {
    width: 250px;
    left: 10%;
    transform: translateX(0);
    margin-top: -5rem;
  }

  .bub-3 {
    width: 250px;
    left: 40%;
    margin-top: -17rem;
    transform: translateX(0);
  }

  .bub-4 {
    width: 220px;
    left: 55%;
    margin-top: 0;
    transform: translateX(0);
  }

  .bub-5 {
    width: 310px;
    left: 65%;
    top: -1rem;
    transform: translateX(0);
  }

}

@media only screen and (min-width: 81em) {

  .bub-1 {
    width: 350px;
    z-index: 1;
    left: 0;
    transform: translateX(0);
  }

  .bub-2 {
    width: 300px;
    left: 18%;
    transform: translateX(0);
    margin-top: -7rem;
  }

  .bub-3 {
    width: 350px;
    left: 36%;
    margin-top: -25rem;
    transform: translateX(0);
  }

  .bub-4 {
    width: 250px;
    left: 63%;
    margin-top: -11rem;
    transform: translateX(0);
  }

  .bub-5 {
    width: 350px;
    left: 71%;
    top: -2rem;
    transform: translateX(0);
  }

}

@media only screen and (min-width: 100em) {

  .bub-1 {
    width: 400px;
    z-index: 1;
    left: 0;
    transform: translateX(0);
  }

  .bub-2 {
    width: 350px;
    left: 16%;
    transform: translateX(0);
    margin-top: -8rem;
  }

  .bub-3 {
    width: 375px;
    left: 38%;
    margin-top: -26rem;
    transform: translateX(0);
  }

  .bub-4 {
    width: 350px;
    left: 63%;
    margin-top: -15rem;
    transform: translateX(0);
  }

  .bub-5 {
    width: 400px;
    left: 76%;
    top: -5rem;
    transform: translateX(0);
  }

}
