.footer {
  border-top: solid 15px var(--color-d-teal-lightest);
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  padding-top: 1rem;
  background-color: var(--color-white);
}

.footer-details-1,
.footer-details-2 {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .footer-details-1 {
    text-align: left;
  }

  .footer-details-2 {
    text-align: right;
  }

}
