hr {
  border: 0;
  border-bottom: solid 3px var(--color-green-dark);
}

.font-normal {
  font-weight: normal;
}

.cat-h3 {
  width: 100%;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.case {
  background-color: var(--color-white);
  transition: all .3s ease;
}

.case-bg:nth-of-type(odd) {
  background-color: var(--color-grey);
}

.case-bg:hover {
  transform: scale(1.01);
}

.home-case-content {
  padding: 1rem 4rem 4rem 4rem;
}

.img-case {
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

@media only screen and (min-width: 25em) {


  .category-list {
    display: block;
  }

}

@media only screen and (min-width: 38em) {

  .cat-h3 {
    width: auto;
  }

  .home-case-content {
    padding: 4rem;
  }

}

@media only screen and (min-width: 60em) {

  .case-study {
    position: relative;
  }

  .home-case-content {
    position: relative;
  }

  .category-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

}
