.social-links {
  display: inline-block;
  text-align: center;
}

.icon-link {
  transition: all .5s ease;
  color: var(--color-teal-dark);
}

.icon-link:hover {
  color: var(--color-d-teal-dark);
  transform: scale(1.1);
}

.category-icon {

}

.category-icon:hover {

}
