.social-links {
  display: inline-block;
  text-align: center;
}

.icon-link {
  transition: all .5s ease;
  color: var(--color-teal-dark);
}

.icon-link:hover {
  color: var(--color-d-teal-dark);
  transform: scale(1.1);
}

.cat-icon-container {
  position: relative;
  text-align: center;
}

.cat-icon-container p {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all .2s cubic-bezier(0.49, -0.05, 0.56, 1.15);
}

.cat-icon-container:hover p {
  max-height: 1rem;
  transform: translateY(80%);
}
