.svg-banner-wrapper {
  position: relative;
  height: 100vh;
  background-color: var(--color-d-teal-light);
  z-index: -1;
}

.svg-banner-img {
  object-fit: cover;
  object-position: center bottom;
  height: 100vh;
  position: fixed;
}

.scroller {
  margin-bottom: 1em;
  color: var(--color-white);
  animation: scroller 2s linear infinite;
}

@keyframes scroller {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-.5em);
  }

  100% {
    transform: translateY(0);
  }

}
