.svg-banner-wrapper {
  position: relative;
  height: 100vh;
  background-image: url(../images/banner.svg);
  background-color: var(--color-d-teal-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.svg-banner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

.home-h1 {
  visibility: hidden;
}
