---
layout: default
---

<img class="case-banner img-flex" src="{{site.baseurl}}/images/{{page.banner-img}}" alt="{{page.banner-img-alt}}">
<div class="case-title pad-t-1-2 pad-b-1-2">
  <h1 class="push-0 nina">{{page.h1}}</h1>
  <h2 class="push-0 kilo">{{page.h2}}</h2>
</div>
<div class="case-icons">
  {% for icon in page.category-icons %}
    {% include category-icon.html cat-icon=icon.cat-icon cat-icon-alt=icon.cat-icon-alt cat-icon-label=icon.cat-icon-label %}
  {% endfor %}
</div>

<div class="grid case-edges">
  <div class="unit xs-1 l-1-2 gutter-2">
    <p>{{page.intro-p}}</p>
  </div>
  <div class="unit xs-1 l-1-2 gutter-2 pad-b-2">
    <h3 class="push-0 mega">Client:</h3>
    <p class="milli">{{page.client}}</p>
    <h3 class="push-0 mega">Goal:</h3>
    <p class="milli">{{page.goal}}</p>
    <h3 class="push-0 mega">{{page.other-heading}}</h3>
    <p class="milli push-0">{{page.other}}{% if page.other-link %}<a href="{{page.other-link}}">{{page.other-a}}</a>{% endif %}</p>
    <p class="milli">{{page.other-2}}{% if page.other-link-2 %}<a href="{{page.other-link-2}}">{{page.other-a-2}}</a>{% endif %}</p>
  </div>
</div>

<div class="sketches grid grid-middle push-2 pad-t-2 pad-b-2">
  <div class="unit xs-1 l-1-2">
    <img class="img-flex" src="{{site.baseurl}}/images/sketches/{{page.sketches-col-1}}" alt="{{page.sketches-col-1-alt}}">
  </div>
  <div class="unit xs-1 l-1-2">
    <img class="img-flex" src="{{site.baseurl}}/images/sketches/{{page.sketches-col-2}}" alt="{{page.sketches-col-1-alt}}">
  </div>
</div>

<div class="inspiration case-edges gutter-2 grid pad-t-2 pad-b-2">
  <div class="unit xs-1">
    <h3>Inspiration</h3>
  </div>
  <div class="unit xs-1 l-1-2 text-center push-2">
    <img class="img-flex" src="{{site.baseurl}}/images/{{page.inspiration-img}}" alt="{{page.inspiration-img-alt}}">
  </div>
  <div class="unit xs-1 l-1-2 gutter">
      <p>{{page.p-inspo}}</p>
  </div>
</div>

<div class="components case-edges gutter-2 grid pad-t-2 pad-b-2">
  <div class="unit xs-1">
    <h3>Components</h3>
  </div>
  <div class="unit xs-1 l-1-2 push-2 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.compo-img-1}}" alt="{{page.compo-img-1-alt}}">
    <p>{{page.p-compo-1}}</p>
  </div>
  <div class="unit xs-1 l-1-2 push-2 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.compo-img-2}}" alt="{{page.compo-img-2-alt}}">
    <p>{{page.p-compo-2}}</p>
  </div>
</div>

{% if page.extra %}
<div class="extra case-edges gutter-2 grid pad-t-2 pad-b-2">
  <div class="unit xs-1">
    <h3>{{page.extra.extra-heading}}</h3>
  </div>
  <div class="unit xs-1 l-1-2 push-2 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.extra.extra-img-1}}" alt="{{page.extra.extra-img-1-alt}}">
    <p>{{page.extra.p-extra-1}}</p>
  </div>
  <div class="unit xs-1 l-1-2 push-2 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.extra.extra-img-2}}" alt="{{page.extra.extra-img-2-alt}}">
    <p>{{page.extra.p-extra-2}}</p>
  </div>
</div>
{% endif %}

<div class="final case-edges gutter-2 grid pad-t-2">
  <div class="unit xs-1">
    <h3>Final Results!</h3>
  </div>
  <div class="unit xs-1 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.final-img-3}}" alt="{{page.final-img-3-alt}}">
  </div>
  <div class="unit xs-1 l-1-2 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.final-img-1}}" alt="{{page.final-img-1-alt}}">
  </div>
  <div class="unit xs-1 l-1-2 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.final-img-2}}" alt="{{page.final-img-2-alt}}">
  </div>
  <div class="unit xs-1 gutter">
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.final-img-4}}" alt="{{page.final-img-4-alt}}">
  </div>
</div>

{% if page.web-bottom %}
<div class="text-center pad-t pad-b-2">
  <a class="f-second giga bold" href="{{page.web-bottom}}">Visit the website!</a>
</div>
{% endif %}

<div class="next grid pad-t-2 case-edges gutter-2 pad-b-2">
  <div class="unit xs-1-2 text-left">
    <a class="f-second" href="{{site.baseurl}}/case-studies/{{page.previousurl}}"><span class="bold"><</span> Previous</a>
  </div>
  <div class="unit xs-1-2 text-right">
    <a class="f-second" href="{{site.baseurl}}/case-studies/{{page.nexturl}}">Next <span class="bold">></span></a>
  </div>
</div>
