<!DOCTYPE html>
<!--
MMMMMMMMMMNKOkkkkkOOO0KXNWMMMMMMMMMMMMMM
MMMMMMMMMWKxoc:;;::::cloddkKNWMMMMMMMMMM
MMMMMMMMMMMWWX0kdlloooolooolokXWMMMMMMMM
MMMMMMMMMMMMMMMMWKxlcoxxoldkdccxKWMMMMMM
MMMMMMMMMMMMMMMMMMWX0dcoOkclkOo:lONMMMMM
MMMMMMMMMMMMMMMMMMMMMNx:lOOl:x0d::kNMMMM
MMMMMMMMMMMMMMMMMMMMMMXd;l00l:xKd;:OWMMM
MMMMMMMMMMMMMMMMMMMMMMWO:;xXk:c00l;lKMMM
MMMMMMMMMMMMMMMMMMMMMMM0c;oX0c;xXx;:kWMM
MMMMMMMMMMMMMMMMMMMMMMW0c;oXKl;dXk:;xNMM
MMMMMMMMMMMMMMMMMMMMMMNx;;lKOc;xKx;;xNMM
MMMMMMMMMMMMMMMMMMMMMWOc;lxOd;:xd:;:OWMM
MMMMMMMMMMMMMMMMMMMNXkc;oKXk::dOl;;oXMMM
MMMMMMMMMMMMMMMMMWKdc::xKKd::dKkc;c0WMMM
MMMMMMMMMMMMMMWN0dclox0Kkl:lkKx:;lOWMMMM
MMWK0KXNNNXK0kdoodk00Odc:lk0kl;:dKWMMMMM
MMW0occlllooooddxxolcloxOOxl::oONMMMMMMM
MMMMN0xl:;:looodddxxxxxdl::lx0NMMMMMMMMM
MMMMMMWNKkxdoooooolcccloxk0NWMMMMMMMMMMM
MMMMMMMMMMWNX0OOkkOO00XNWMMMMMMMMMMMMMMM
 -->
<html lang="en-ca">
{% assign pageName = page.name | remove: ".html" %}
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}Hannah Delaney B{% if page.titleAfter %} • {{page.titleAfter}} {% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.seo-description}}">
  <meta name="keywords" content="{{site.data[pageName].seo.keywords}}">
  <meta name="author" content="Hannah Delaney Brown">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{page.title}} • {% endif %}Hannah Delaney B{% if page.titleAfter %} • {{page.titleAfter}} {% endif %}">
  <meta property="og:url" content="http://hannahdel.ca{{page.url}}">
  <meta property="og:image" content="http://hannahdel.ca{{page.display-img}}">
  <meta property="og:site_name" content="Hannah Delaney B, Graphic Designer and Illustrator">
  <meta property="og:description" content="{{page.seo-description}}">
  <meta property="og:locale" content="en_CA">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-206.png">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
</head>
<body>
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation</a></li>
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#footer">Jump to footer</a></li>
  </ul>

  {% if page.page contains 'home' %} {% include svg-home-banner.html %} {% endif %}
  {% if page.layout == 'welcome-message' %}
  {% else %}
    {% include header.html %}
  {% endif %}
  <main id="main" role="main">
    {{content}}
  </main>
  {% include footer.html %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/fixx.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
  <script type="application/ld+json">
  {
    "@type": "Website",
    "name": "Hannah Delaney B",
    "author": {
      "@type": "Person",
      "@id": "hannahdelaneyb"
    },
    "description": "Online portfolio for graphic designer and illustration Hannah Delaney B.",
    "url": "http://hannahdel.ca",
    "keywords": "Graphic Design, Illustration, Ottawa, Ontario, Canada, Web, Development, Branding, Print, UI / UX, Motion, Advertising, Communication, Passionate, Creative, Artist"
  }
  </script>
  <script type="application/ld+json">
    {
      "@type": "Person",
      "@id": "hannahdelaneyb",
      "name": "Hannah Delaney B",
      "email": "hello@hannahdel.ca",
      "url": "http://hannahdel.ca"
    }
  </script>
</body>
</html>
