---
layout: default
---
{% if page.banner-img %}
<img class="case-banner img-flex" src="{{site.baseurl}}/images/{{page.banner-img}}" alt="{{page.banner-img-alt}}">
{% elsif page.banner-vid %}
  <video class="case-banner img-flex" src="{{site.baseurl}}/images/{{page.banner-vid}}" loop autoplay></video>
{% endif %}
<div class="case-title pad-t-1-2 pad-b-1-2">
  <h1 class="push-0 nina pad-side">{{page.h1}}</h1>
  <h2 class="push-0 kilo gutter">{{page.h2}}</h2>
</div>
<div class="case-icons">
  {% for icon in page.category-icons %}
    {% include category-icon.html cat-icon=icon.cat-icon cat-icon-alt=icon.cat-icon-alt cat-icon-label=icon.cat-icon-label %}
  {% endfor %}
</div>

<div class="grid case-edges">
  <div class="unit xs-1 l-1-2 gutter-2">
    <p>{{page.intro-p}}</p>
  </div>
  <div class="unit xs-1 l-1-2 gutter-2 pad-b-2">
    <h3 class="push-0 mega">{% if page.intro-list-1-h %}{{page.intro-list-1-h}}:{% endif %}</h3>
    <p class="milli">{% if page.intro-list-1 %}{{page.intro-list-1}}{% endif %}</p>
    <h3 class="push-0 mega">{% if page.intro-list-2-h %}{{page.intro-list-2-h}}:{% endif %}</h3>
    <p class="milli">{% if page.intro-list-2 %}{{page.intro-list-2}}{% endif %}</p>
    <h3 class="push-0 mega">{% if page.intro-list-3-h %}{{page.intro-list-3-h}}:{% endif %}</h3>
    <p class="milli">{% if page.intro-list-3 %}{{page.intro-list-3}}{% endif %}</p>
  </div>
</div>

<div class="case-edges gutter grid pad-t-2">
  <div class="unit xs-1 gutter">
    <h3>{{page.motion-1-h}}</h3>
  </div>
  {% if page.vidgrid-1 %}
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-1}}" poster="{{site.baseurl}}/images/{{page.vidgrid-1-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-1}}</h4>
      <p style="margin: 0">{{page.motion-1-1-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-2}}" poster="{{site.baseurl}}/images/{{page.vidgrid-2-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-2}}</h4>
      <p style="margin: 0">{{page.motion-1-2-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-3}}" poster="{{site.baseurl}}/images/{{page.vidgrid-3-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-3}}</h4>
      <p style="margin: 0">{{page.motion-1-3-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-4}}" poster="{{site.baseurl}}/images/{{page.vidgrid-4-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-4}}</h4>
      <p style="margin: 0">{{page.motion-1-4-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-5}}" poster="{{site.baseurl}}/images/{{page.vidgrid-5-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-5}}</h4>
      <p style="margin: 0">{{page.motion-1-5-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-6}}" poster="{{site.baseurl}}/images/{{page.vidgrid-6-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-6}}</h4>
      <p style="margin: 0">{{page.motion-1-6-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-7}}" poster="{{site.baseurl}}/images/{{page.vidgrid-7-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-7}}</h4>
      <p style="margin: 0">{{page.motion-1-7-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-8}}" poster="{{site.baseurl}}/images/{{page.vidgrid-8-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-8}}</h4>
      <p style="margin: 0">{{page.motion-1-8-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vidgrid-9}}" poster="{{site.baseurl}}/images/{{page.vidgrid-9-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-1-h-9}}</h4>
      <p style="margin: 0">{{page.motion-1-9-year}}</p>
    </div>
  </div>
  {% elsif page.img-3 %}
  <img class="push img-flex" src="{{site.baseurl}}/images/{{page.img-1}}" alt="{{page.img-1-alt}}">
  {% endif %}
</div>

<div class="grid case-edges gutter pad-t-2">
  <div class="unit xs-1 gutter">
    <h3>{{page.motion-2-h}}</h3>
  </div>
  <div class="push unit xs-1 m-1-2 l-1-3 gutter">
    <div class="embed embed-1by1">
      <iframe class="embed-item" src="https://www.youtube.com/embed/{{page.youtubethird1}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="push unit xs-1 m-1-2 l-1-3 gutter">
    <div class="embed embed-1by1">
      <iframe class="embed-item" src="https://www.youtube.com/embed/{{page.youtubethird2}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="push unit xs-1 m-1-2 l-1-3 gutter">
    <div class="embed embed-1by1">
      <iframe class="embed-item" src="https://www.youtube.com/embed/{{page.youtubethird3}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="unit xs-1 l-1-3 gutter">
    <h4 style="margin: 0 1.5rem 0 0" class="normal">{{page.video-2-client}}</h4>
    <p>{{page.video-2-date}}</p>
  </div>
  <p class="unit xs-1 l-2-3 gutter">{{page.video-2-p}}</p>
</div>

<div class="case-edges gutter grid pad-t-2">
  <div class="unit xs-1 gutter">
    <h3>{{page.motion-3-h}}</h3>
  </div>
    <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vid-3-1}}" poster="{{site.baseurl}}/images/{{page.vid-3-1-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-3-1-h}}</h4>
      <p style="margin: 0">{{page.motion-3-1-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vid-3-2}}" poster="{{site.baseurl}}/images/{{page.vid-3-2-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-3-2-h}}</h4>
      <p style="margin: 0">{{page.motion-3-2-year}}</p>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 l-1-3 island">
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.vid-3-3}}" poster="{{site.baseurl}}/images/{{page.vid-3-3-place}}" loop controls></video>
    </div>
    <div class="unit xs-1 pad-t">
      <h4 style="margin: 0" class="normal">{{page.motion-3-3-h}}</h4>
      <p style="margin: 0">{{page.motion-3-3-year}}</p>
    </div>
  </div>
  <p class="unit xs-1 gutter">{{page.video-3-p}}</p>
</div>

<div class="case-edges gutter-2 grid pad-t-2">
  <div class="unit xs-1">
    <h3>{{page.motion-4-h}}</h3>
  </div>
  <div class="unit xs-1">
    {% if page.vimeofull-4 %}
    <div class="embed embed-16by9 push">
      <iframe class="embed-item" src="{{page.vimeofull-4}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    {% elsif page.youtubefull-4 %}
    <div class="embed embed-16by9 push">
      <iframe class="embed-item" src="https://www.youtube.com/embed/{{page.youtubefull-4}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    {% elsif page.videofull-4 %}
    <div class="embed embed-16by9 push">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.videofull-4}}" controls></video>
    </div>
    {% elsif page.img-1-1 %}
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.img-full-1}}" alt="{{page.img-full-4-alt}}">
    {% endif %}
  </div>
  <div class="unit xs-1 l-1-3">
    <h4 style="margin: 0 1.5rem 0 0" class="normal">{{page.video-4-client}}</h4>
    <p>{{page.video-4-date}}</p>
  </div>
  <p class="unit xs-1 l-2-3">{{page.video-4-p}}</p>
</div>

<div class="case-edges gutter-2 grid pad-t-2">
  <div class="unit xs-1 m-2-3">
    <h3>{{page.motion-5-h}}</h3>
  </div>
  <div class="unit xs-1">
    {% if page.vimeofull-5 %}
    <div class="embed embed-16by9 push">
      <iframe class="embed-item" src="{{page.vimeofull-5}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    {% elsif page.youtubefull-5 %}
    <div class="embed embed-1by1 push">
      <iframe class="embed-item" src="https://www.youtube.com/embed/{{page.youtubefull-5}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    {% elsif page.videofull-5 %}
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.videofull-5}}"autoplay loop></video>
    </div>
    {% elsif page.img-5-1 %}
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.img-full-5}}" alt="{{page.img-full-5-alt}}">
    {% endif %}
  </div>
  <div class="unit xs-1 l-1-3">
    <h4 style="margin: 0 1.5rem 0 0" class="normal">{{page.video-5-client}}</h4>
    <p>{{page.video-5-date}}</p>
  </div>
  <p class="unit xs-1 l-2-3">{{page.video-5-p}}</p>
</div>

<div class="case-edges gutter-2 grid pad-t-2">
  <div class="unit xs-1">
    <h3>{{page.motion-6-h}}</h3>
  </div>
  <div class="unit xs-1">
    {% if page.vimeofull-6 %}
    <div class="embed embed-16by9 push">
      <iframe class="embed-item" src="{{page.vimeofull-6}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    {% elsif page.youtubefull-6 %}
    <div class="embed embed-1by1 push">
      <iframe class="embed-item" src="https://www.youtube.com/embed/{{page.youtubefull-6}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    {% elsif page.videofull-6 %}
    <div class="embed embed-16by9">
      <video class="embed-item" width="100%" src="{{site.baseurl}}/images/{{page.videofull-6}}"autoplay loop></video>
    </div>
    {% elsif page.img-6 %}
    <img class="push img-flex" src="{{site.baseurl}}/images/{{page.img-full-6}}" alt="{{page.img-full-6-alt}}">
    {% endif %}
  </div>
  <div class="unit xs-1 l-1-3">
    <h4 style="margin: 0 1.5rem 0 0" class="normal">{{page.video-6-client}}</h4>
    <p>{{page.video-6-date}}</p>
  </div>
  <p class="unit xs-1 l-2-3">{{page.video-6-p}}</p>
</div>

<!-- <div class="gutter">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</div> -->

<!-- Three Coloum method of listing client date and role -->
<!-- <div class="unit xs-1 gutter">
  <div class="grid">
    <div class="unit xs-1 m-1-3 l-1-3">
      <h4>Client</h4>
        <p style="margin-right:2.5rem">{{page.video-2-client}}</p>
    </div>
    <div class="unit xs-1-2 m-1-3 l-1-3">
      <h4>Date</h4>
        <p>{{page.video-2-date}}</p>
    </div>
    <div class="unit xs-1-2 m-1-3 l-1-3">
      <h4>Role</h4>
        <p>{{page.video-2-role}}</p>
    </div>
  </div>
  <p>{{page.video-2-p}}</p>
</div> -->

{% if page.web-bottom %}
<div class="text-center pad-t pad-b-2">
  <a class="f-second giga bold" href="{{page.web-bottom}}">{{page.web-bottom-words}}</a>
</div>
{% endif %}

<div class="next grid pad-t-2 case-edges gutter-2 pad-b-2">
  <div class="unit xs-1-2 text-left">
    <a class="f-second" href="{{site.baseurl}}/case-studies/{{page.previousurl}}"><span class="material-symbols-outlined valign-middle">arrow_back</span><span class="bold valign-middle"> Previous </span><span class="valign-middle">{% if page.previousurlname %}| {{page.previousurlname}}{% endif %}</span></a>
  </div>
  <div class="unit xs-1-2 text-right">
    <a class="f-second" href="{{site.baseurl}}/case-studies/{{page.nexturl}}"><span class="bold valign-middle">Next </span><span class="valign-middle">{% if page.nexturlname %}| {{page.nexturlname}} {% endif %}</span><span class="material-symbols-outlined valign-middle">arrow_forward</span></a>
  </div>
</div>
